
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-7ER {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-2fcs-jFo {
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.45rem 5.4rem 30.212rem 4.1rem;
    width: 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:07a66fa70e8d995c265ef2a1c7eb9894c96170fb');

    .auto-group-knqu-BX7 {
      flex-shrink: 0;
      margin: 0rem 0rem 29.05rem 1.4rem;
      width: calc(100% - 1.4rem);
      height: 5.2rem;
      display: flex;
      align-items: center;

      .bon-voyage-ST3 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2925;
        color: #000000;
        font-family: Peralta, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .auto-group-8edd-JVF {
        padding: 0.55rem 0rem 0.65rem 6.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .nav-item-pCh {
          display: flex;
          align-items: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 6.5rem;
          justify-content: center;
          font-size: 2.2612rem;
          font-weight: 700;
          color: #212832;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .nav-item-Jdf {
          flex-shrink: 0;
          justify-content: center;
          color: #212832;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.2612rem;
          font-weight: 700;
          line-height: 1.5;
          white-space: nowrap;
          margin-right: 8.5rem;
          display: flex;
          align-items: center;
        }
        .nav-item-Qwb {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 2.2612rem;
          line-height: 1.5;
          color: #212832;
          margin-right: 8.2rem;
          justify-content: center;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
        }
        .nav-item-KYm {
          color: #212832;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 8.4rem;
          display: flex;
          font-weight: 700;
          line-height: 1.5;
          font-size: 2.2612rem;
          flex-shrink: 0;
        }
        .frame-1-eL9 {
          margin-right: 4.7rem;
          line-height: 1.5;
          align-items: center;
          justify-content: center;
          font-size: 2.2612rem;
          white-space: nowrap;
          border: solid 0.1rem #ec682c;
          width: 10.7rem;
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #ec682c;
          border-radius: 0.8rem;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          box-sizing: border-box;
          flex-shrink: 0;
        }
        .frame-2-Ua5 {
          box-sizing: border-box;
          background-color: #ec682c;
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          border: solid 0.1rem #ec682c;
          display: flex;
          color: #ffffff;
          font-weight: 400;
          align-items: center;
          width: 12.5rem;
          font-size: 2.2612rem;
          justify-content: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
    }
    .auto-group-ub8k-9gD {
      margin-bottom: 2.5rem;
      width: 90.4rem;
      height: 13.7rem;
      position: relative;
      flex-shrink: 0;

      .heading-HGd {
        height: 11.9rem;
        font-size: 4.8rem;
        line-height: 2.4662666321;
        color: #4b40c5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 90.4rem;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
        letter-spacing: -0.192rem;
      }
      .tagline-mBo {
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 0.9rem;
        top: 8.9rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        color: #ffffff;
        width: 65.5rem;
        height: 4.8rem;
        white-space: nowrap;
      }
    }
    .cta-dE1 {
      margin-left: 0.9rem;
      width: 22.801rem;
      height: 7.5882rem;
      border-radius: 1.3301rem;
      flex-shrink: 0;

      .cta-y2y {
        display: flex;
        line-height: 1.5;
        width: 100%;
        justify-content: center;
        font-weight: 500;
        color: #fff1da;
        box-shadow: 0 2.6602rem 4.6554rem rgba(241, 165, 1, 0.150000006);
        align-items: center;
        font-size: 2.3942rem;
        background-color: #4b40c5;
        height: 100%;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.3301rem;
      }
    }
  }
  .auto-group-gz8k-mjX {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.7rem 0.5rem 95.469rem 0.5rem;
    width: 100%;

    .group-590-g5o {
      margin: 0rem 8.85rem 11.295rem 7.15rem;
      width: calc(100% - 16rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-fkc7-biZ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 22.3rem 2.4rem 31.4rem;
        width: 100%;

        .category-8Tb {
          text-align: center;
          font-size: 3.2rem;
          color: #4b40c5;
          flex-shrink: 0;
          margin: 0rem 8.6rem 2.6rem 0rem;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .we-offer-best-services-SjB {
          font-weight: 700;
          line-height: 1.5;
          text-transform: capitalize;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 6.4rem;
          color: #14183e;
          text-align: center;
        }
      }
      .auto-group-fmvr-mWZ {
        width: 100%;
        height: 47.8055rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ybdz-K2H {
          height: calc(100% - 19.5837rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 9.578rem 3.091rem 10.005rem 0rem;

          .group-48-2SV {
            margin: 0rem 0rem 2.946rem 0.922rem;
            width: 10.7902rem;
            height: 9.7762rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .calculated-weather-KwP {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 1.5rem;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
          }
          .as-much-of-information-possible-with-the-weather-AqX {
            line-height: 1.7291582108;
            margin-right: 0.9rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.5rem;
            text-align: center;
            color: #000000;
          }
        }
        .auto-group-d5pj-qRs {
          height: 43.4906rem;
          position: relative;
          flex-shrink: 0;
          margin: 4.315rem 8.144rem 0rem 0rem;
          width: 35.42rem;

          .rectangle-157-xFb {
            border-radius: 3.9904rem 0 1.3301rem 0;
            width: 11.7285rem;
            height: 12.5333rem;
            position: absolute;
            left: 0;
            top: 30.9573rem;
            background-color: #df6951;
          }
          .rectangle-6-Ty3 {
            box-shadow: 0 0.2463rem 0.4187rem rgba(0, 0, 0, 0.0048148148), 0 1.0838rem 0.867rem rgba(0, 0, 0, 0.0078518521), 0 2.6602rem 1.7292rem rgba(0, 0, 0, 0.0099999998), 0 5.1234rem 3.3893rem rgba(0, 0, 0, 0.0121481484), 0 8.6212rem 6.2319rem rgba(0, 0, 0, 0.0151851848), 0 13.3012rem 10.641rem rgba(0, 0, 0, 0.0199999996);
            background-color: #ffffff;
            border-radius: 4.7884rem;
            width: 31.315rem;
            height: 39.3544rem;
            position: absolute;
            left: 4.105rem;
            top: 0;
          }
          .getting-cheap-best-flights-sWy {
            height: 7rem;
            position: absolute;
            text-align: center;
            font-weight: 400;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            width: 19.3rem;
            left: 9.0091rem;
            top: 23.0851rem;
            font-size: 2rem;
            line-height: 1.7291582108;
          }
          .best-flights-mcM {
            height: 3.6rem;
            left: 12.6591rem;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.5;
            color: #000000;
            width: 13.7rem;
            position: absolute;
            top: 18.0851rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-158-57F {
            background-color: #fbebbc;
            border-radius: 2.3942rem 0.6651rem 1.3301rem 0.6651rem;
            width: 5.8642rem;
            height: 6.1413rem;
            position: absolute;
            left: 15.4587rem;
            top: 5.0136rem;
          }
          .plane-aZo {
            object-fit: contain;
            vertical-align: top;
            width: 13.4245rem;
            height: 9.7948rem;
            position: absolute;
            left: 12.7336rem;
            top: 5.1666rem;
          }
        }
        .auto-group-lb75-ury {
          margin: 0rem 0.822rem 5.051rem 0rem;
          width: 34.3235rem;
          height: 42.7544rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-158-2gh {
            width: 11.7285rem;
            height: 12.5333rem;
            position: absolute;
            left: 22.595rem;
            top: 0;
            background-color: #4b40c5;
            border-radius: 3.9904rem 0 1.3301rem 0;
          }
          .rectangle-159-vGH {
            left: 0;
            top: 3.4rem;
            box-shadow: 0 0.2463rem 0.4187rem rgba(0, 0, 0, 0.0048148148), 0 1.0838rem 0.867rem rgba(0, 0, 0, 0.0078518521), 0 2.6602rem 1.7292rem rgba(0, 0, 0, 0.0099999998), 0 5.1234rem 3.3893rem rgba(0, 0, 0, 0.0121481484), 0 8.6212rem 6.2319rem rgba(0, 0, 0, 0.0151851848), 0 13.3012rem 10.641rem rgba(0, 0, 0, 0.0199999996);
            background-color: #ffffff;
            border-radius: 4.7884rem;
            width: 31.315rem;
            height: 39.3544rem;
            position: absolute;
          }
          .group-50-erV {
            width: 7.5592rem;
            height: 10.3rem;
            position: absolute;
            left: 12.8358rem;
            top: 8.4rem;

            .rectangle-159-z9f {
              width: 5.8rem;
              height: 6rem;
              position: absolute;
              left: 1.7592rem;
              top: 0;
              background-color: rgba(240, 187, 31, 0.3000000119);
              border-radius: 2.3942rem 0.6651rem 1.3301rem 0.6651rem;
            }
            .image-25-tVw {
              border-radius: 0 0 3.9904rem 4.6554rem;
              width: 4.6914rem;
              height: 8.6479rem;
              position: absolute;
              left: 0;
              top: 1.652rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .getting-good-iternary-based-on-the-events-QDP {
            text-align: center;
            font-weight: 400;
            line-height: 1.7291582108;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            width: 17.7rem;
            position: absolute;
            left: 6.1593rem;
            top: 27.3rem;
            font-size: 2rem;
            height: 10.4rem;
          }
          .local-events-fv1 {
            position: absolute;
            left: 7.845rem;
            font-size: 2.4rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 14.8rem;
            height: 3.6rem;
            top: 22.4rem;
            text-align: center;
            font-weight: 500;
            color: #000000;
          }
        }
        .auto-group-n5tm-BNZ {
          margin: 10.1rem 0rem 10.105rem 0rem;
          height: calc(100% - 20.2055rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-49-JCH {
            height: 8.6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.036rem 3.6rem 0rem;
            width: 8.4642rem;
          }
          .customization-Dq3 {
            white-space: nowrap;
            margin: 0rem 0rem 1.4rem 2.4rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .we-deliver-outsourced-services-for-customers-8x1 {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.7291582108;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.2rem;
          }
        }
      }
    }
    .subheading-TDb {
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.3rem 4rem 0rem;
      font-size: 3.2rem;
      color: #4b40c5;
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
    }
    .heading-4DP {
      text-align: center;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.4rem 4rem 0rem;
      line-height: 1.5;
      text-transform: capitalize;
      color: #14183e;
      white-space: nowrap;
      font-size: 6.2rem;
    }
    .auto-group-pgoy-aBj {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.167rem 17.313rem 1.5rem;
      width: calc(100% - 4.6674rem);
      height: 60.7867rem;
      display: flex;

      .auto-group-o8vs-Unu {
        position: relative;
        flex-shrink: 0;
        margin-right: 4.6555rem;
        width: 41.8988rem;
        height: 100%;

        .rectangle-14-DVb {
          vertical-align: top;
          border-radius: 3.1923rem;
          width: 41.7658rem;
          height: 60.7865rem;
          position: absolute;
          left: 0.133rem;
          top: 0;
          object-fit: cover;
        }
        .card-2-9PF {
          padding: 3.591rem 1.399rem 5.747rem 2.66rem;
          width: 41.8988rem;
          position: absolute;
          left: 0;
          top: 43.4951rem;
          background-color: #ffffff;
          border-radius: 0 0 3.1923rem 3.1923rem;
          box-sizing: border-box;
          height: 17.2916rem;

          .auto-group-3ty9-rHf {
            margin-bottom: 2.322rem;
            width: 100%;
            display: flex;
            align-items: center;

            .rome-italty-NG1 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 11.34rem 0.131rem 0rem;
            }
            .lakh-Upq {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1315rem;
            }
          }
          .auto-group-o1us-Pwo {
            margin: 0rem 21.417rem 0rem 0.249rem;
            width: calc(100% - 21.6667rem);
            display: flex;
            align-items: center;

            .navigation-1-iz5 {
              flex-shrink: 0;
              margin: 0.16rem 2.112rem 0rem 0rem;
              width: 2.1615rem;
              height: 2.1615rem;
              object-fit: contain;
              vertical-align: top;
            }
            .days-trip-EhX {
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2449999809;
            }
          }
        }
      }
      .auto-group-gwgx-w69 {
        margin-right: 7.9807rem;
        width: 41.8988rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-5TF {
          height: 60.7865rem;
          position: absolute;
          left: 0.133rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3.1923rem;
          width: 41.7658rem;
        }
        .card-4-bwP {
          padding: 3.591rem 1.253rem 5.747rem 2.66rem;
          top: 43.4951rem;
          border-radius: 0 0 3.1923rem 3.1923rem;
          box-sizing: border-box;
          height: 17.2916rem;
          position: absolute;
          left: 0;
          background-color: #ffffff;
          width: 41.8988rem;

          .auto-group-nsab-uhB {
            margin-bottom: 2.322rem;
            width: 100%;
            display: flex;
            align-items: center;

            .london-uk-euf {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 13.985rem 0.131rem 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
            }
            .lakh-yBF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1315rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .auto-group-1bnf-VvH {
            margin: 0rem 21.63rem 0rem 0.249rem;
            width: calc(100% - 21.8794rem);
            display: flex;
            align-items: center;

            .navigation-1-DLV {
              margin: 0.16rem 2.245rem 0rem 0rem;
              width: 2.1615rem;
              height: 2.1615rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .days-trip-wXP {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2449999809;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-9syv-46D {
        width: 41.8988rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-brq {
          left: 0.133rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3.1923rem;
          width: 41.7658rem;
          height: 60.7865rem;
          position: absolute;
        }
        .card-5-XVb {
          height: 17.2916rem;
          background-color: #ffffff;
          border-radius: 0 0 3.1923rem 3.1923rem;
          box-sizing: border-box;
          padding: 3.723rem 1.733rem 5.747rem 2.66rem;
          width: 41.8988rem;
          position: absolute;
          left: 0;
          top: 43.4951rem;

          .auto-group-ymvy-2hF {
            margin-bottom: 2.3207rem;
            width: 100%;
            display: flex;
            align-items: center;

            .full-europe-z8H {
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.001rem 14.906rem 0rem 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
            }
            .lakh-6BK {
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0014rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
            }
          }
          .auto-group-nv7y-Dmj {
            margin: 0rem 21.083rem 0rem 0.249rem;
            width: calc(100% - 21.3319rem);
            display: flex;
            align-items: center;

            .navigation-1-xDX {
              flex-shrink: 0;
              margin: 0.16rem 1.713rem 0rem 0rem;
              width: 2.1615rem;
              height: 2.1615rem;
              object-fit: contain;
              vertical-align: top;
            }
            .days-trip-Gzu {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2449999809;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .book-a-trip-yuK {
      margin: 0rem 5.84rem 13.4rem 3.36rem;
      width: calc(100% - 9.2rem);
      height: 59.6rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-msdm-6j3 {
        flex-shrink: 0;
        margin-right: 10.2784rem;
        width: 65.4rem;
        height: 100%;

        .subheading-EqF {
          width: 100%;
          text-align: center;
          font-size: 2.3942rem;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          line-height: 1.5;
          color: #5e6282;
        }
        .heading-xmF {
          margin: 0rem 0rem 0.1rem 0.3rem;
          max-width: 65.1rem;
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.5;
          text-transform: capitalize;
          color: #14183e;
          font-family: Poppins, 'Source Sans Pro';
        }
        .values-UzV {
          width: 45.2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .value-SAd {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0rem 4.9rem 0.3rem;
            width: calc(100% - 0.3rem);
            height: 8.5rem;
            display: flex;

            .group-7-AMX {
              margin: 0rem 2.468rem 1.734rem 0rem;
              box-sizing: border-box;
              padding: 1.558rem 1.438rem 1.558rem 1.558rem;
              background-color: #f0bb1f;
              border-radius: 1.7292rem;
              flex-shrink: 0;

              .selection-1-gKs {
                object-fit: contain;
                vertical-align: top;
                width: 2.6364rem;
                height: 2.6365rem;
              }
            }
            .auto-group-hh9h-ovH {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .choose-destination-ZuT {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-urna-tortor-tempus-JMF {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 36.8rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2449999915;
                color: #5e6282;
              }
            }
          }
          .value-Bvq {
            flex-shrink: 0;
            margin-bottom: 5rem;
            width: 100%;
            height: 8.5rem;
            display: flex;
            align-items: center;

            .group-12-96y {
              background-color: #f15a2b;
              border-radius: 1.7292rem;
              flex-shrink: 0;
              margin: 1.2rem 2.768rem 1.548rem 0rem;
              box-sizing: border-box;
              padding: 1.686rem 1.435rem 1.926rem 1.555rem;
              height: calc(100% - 2.7478rem);

              .water-sport-1-Srm {
                object-fit: contain;
                vertical-align: top;
                width: 2.6429rem;
                height: 2.1404rem;
                position: relative;
              }
            }
            .auto-group-ndh9-AXs {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .make-payment-XNR {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-urna-tortor-tempus-Tms {
                max-width: 36.8rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2449999915;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .value-Za1 {
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 8.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-11-hgD {
              margin: 1rem 2.668rem 1.648rem 0rem;
              box-sizing: border-box;
              padding: 1.8rem 1.436rem 1.705rem 1.5rem;
              height: calc(100% - 2.6478rem);
              background-color: #4b40c5;
              border-radius: 1.7292rem;
              flex-shrink: 0;

              .taxi-1-1wo {
                height: 2.247rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.6964rem;
              }
            }
            .auto-group-ljrf-kPb {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .reach-airport-on-selected-date-unH {
                line-height: 1.2449999628;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                font-size: 2.1282rem;
                font-weight: 700;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-urna-tortor-tempus-F5T {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2449999915;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 36.8rem;
              }
            }
          }
        }
      }
      .image-vxH {
        margin-top: 0.6rem;
        width: 58.1216rem;
        height: 56.6825rem;
        position: relative;
        flex-shrink: 0;

        .group-589-5KP {
          position: absolute;
          left: 12.0216rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.4;
          width: 42.4228rem;
          height: 43.9807rem;
        }
        .image-Q6m {
          width: 58.1216rem;
          height: 47.9354rem;
          position: absolute;
          left: 0;
          top: 8.7471rem;

          .group-5-kAd {
            box-sizing: border-box;
            width: 44.3402rem;
            height: 47.9354rem;
            top: 0;
            border-radius: 3.4583rem;
            padding: 2.397rem 2.876rem 0.812rem 2.996rem;
            position: absolute;
            left: 0;
            box-shadow: 0 0.2463rem 0.4187rem rgba(0, 0, 0, 0.0048148148), 0 1.0838rem 0.867rem rgba(0, 0, 0, 0.0078518521), 0 2.6602rem 1.7292rem rgba(0, 0, 0, 0.0099999998), 0 5.1234rem 3.3893rem rgba(0, 0, 0, 0.0121481484), 0 8.6212rem 6.2319rem rgba(0, 0, 0, 0.0151851848), 0 13.3012rem 10.641rem rgba(0, 0, 0, 0.0199999996);
            background-color: #ffffff;

            .rectangle-17-F7P {
              margin-bottom: 3.1622rem;
              width: 38.4681rem;
              height: 19.294rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.1923rem;
            }
            .trip-to-greece-yJH {
              line-height: 1.2450000445;
              letter-spacing: 0.036rem;
              color: #080808;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 1.148rem 0.026rem;
              font-size: 2.4rem;
              font-weight: 500;
            }
            .auto-group-xqq9-3ow {
              margin-bottom: 3.4754rem;
              width: 23.1632rem;
              height: 9.2276rem;
              position: relative;

              .options-mV3 {
                display: flex;
                align-items: center;
                width: 16.6576rem;
                height: 4.3142rem;
                position: absolute;
                left: 0.3595rem;
                top: 4.9135rem;

                .leaf-h7o {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.1571rem;
                  width: 4.3142rem;
                  height: 4.3142rem;
                  object-fit: contain;
                }
                .map-icon-RpV {
                  height: 4.3142rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5579rem;
                  width: 4.3142rem;
                }
                .send-y5K {
                  width: 4.3142rem;
                  height: 4.3142rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .june-JtH {
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                position: absolute;
                left: 0;
                font-size: 2.1282rem;
                line-height: 1.2449999628;
                letter-spacing: -0.0106rem;
                color: #84829a;
                width: 5.9rem;
                height: 5.3rem;
                top: 0;
              }
              .by-robbin-joseph-p5w {
                height: 5.3rem;
                font-size: 2.1282rem;
                font-weight: 500;
                line-height: 1.2449999628;
                letter-spacing: -0.0106rem;
                width: 10.7rem;
                position: absolute;
                left: 12.4632rem;
                top: 0;
                color: #84829a;
                font-family: Poppins, 'Source Sans Pro';
              }
              .line-3-7qj {
                height: 1.9174rem;
                position: absolute;
                left: 10.9053rem;
                top: 0.1199rem;
                background-color: #84829a;
                width: 0.133rem;
              }
            }
            .auto-group-m959-rHX {
              margin-left: 0rem;
              display: flex;
              align-items: flex-start;

              .building-1-zuX {
                flex-shrink: 0;
                margin-right: 1.7976rem;
                width: 1.9174rem;
                height: 1.9174rem;
                object-fit: contain;
                vertical-align: top;
              }
              .people-going-LiV {
                flex-shrink: 0;
                margin: 0.12rem 21.936rem 0rem 0rem;
                font-size: 2.1282rem;
                font-weight: 500;
                line-height: 1.2449999628;
                letter-spacing: -0.0426rem;
                color: #84829a;
                max-width: 10.3rem;
                font-family: Poppins, 'Source Sans Pro';
              }
              .heart-6-1-EJ5 {
                height: 2.2272rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.2045rem;
                width: 2.3968rem;
              }
            }
          }
          .group-4-qHs {
            box-shadow: 0 0.2463rem 0.4187rem rgba(0, 0, 0, 0.0048148148), 0 1.0838rem 0.867rem rgba(0, 0, 0, 0.0078518521), 0 2.6602rem 1.7292rem rgba(0, 0, 0, 0.0099999998), 0 5.1234rem 3.3893rem rgba(0, 0, 0, 0.0121481484), 0 8.6212rem 6.2319rem rgba(0, 0, 0, 0.0151851848), 0 13.3012rem 10.641rem rgba(0, 0, 0, 0.0199999996);
            border-radius: 2.3942rem;
            box-sizing: border-box;
            padding: 1.908rem 2.996rem 2.636rem 2.397rem;
            width: 31.5175rem;
            height: 15.4592rem;
            top: 26.2447rem;
            background-color: #ffffff;
            position: absolute;
            left: 26.6041rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-g7ap-v4R {
              margin: 0rem 4.604rem 0.859rem 0rem;
              width: calc(100% - 4.604rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .auto-group-c45d-393 {
                margin: 0.249rem 1.329rem 0rem 0rem;
                width: 5.9919rem;
                height: 5.9919rem;
                position: relative;
                flex-shrink: 0;

                .ellipse-6-ZdB {
                  border-radius: 2.996rem;
                  width: 5.9919rem;
                  height: 5.9919rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  box-shadow: 0.133rem 1.1971rem 0.7981rem rgba(105, 103, 103, 0.1299999952);
                  background-color: rgba(255, 255, 255, 0.3000000119);
                }
                .mask-group-4Zw {
                  position: absolute;
                  left: 0rem;
                  top: 0;
                  object-fit: contain;
                  vertical-align: top;
                  width: 5.9919rem;
                  height: 5.9919rem;
                }
              }
              .auto-group-eoou-PcD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ongoing-kBs {
                  margin: 0rem 0rem 0.4rem 0.1rem;
                  font-size: 1.8622rem;
                  letter-spacing: -0.0652rem;
                  color: #84829a;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 500;
                  line-height: 1.2450000174;
                  flex-shrink: 0;
                }
                .trip-to-rome-FuK {
                  letter-spacing: -0.0359rem;
                  color: #080808;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.3942rem;
                  font-weight: 500;
                  line-height: 1.2450000406;
                }
              }
            }
            .completed-awb {
              margin: 0rem 0rem 0.815rem 1.617rem;
              font-size: 1.8622rem;
              letter-spacing: -0.1024rem;
              color: #080808;
              font-family: Gilroy-ExtraBold, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              font-weight: 400;
              line-height: 1.2450000174;
              display: flex;
              flex-shrink: 0;

              .completed-awb-sub-0 {
                line-height: 1.2450000174;
                letter-spacing: -0.1024rem;
                color: #8a79df;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.8622rem;
                font-weight: 500;
              }
              .completed-awb-sub-1 {
                font-size: 1.8622rem;
                font-weight: 500;
                line-height: 1.2450000174;
                letter-spacing: -0.1024rem;
                color: #080808;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .group-3-eTb {
              background-color: #f5f5f5;
              border-radius: 3.9904rem;
              flex-shrink: 0;
              margin-left: 7.43rem;
              width: 18.6948rem;

              .rectangle-20-b7w {
                height: 0.5992rem;
                background-color: #8a79df;
                border-radius: 3.9904rem;
                width: 8.7482rem;
              }
            }
          }
        }
      }
    }
    .group-5408-Ziy {
      width: calc(100% - 61.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 31.066rem 6.512rem 30.434rem;

      .why-choose-us-V6q {
        align-items: baseline;
        flex-shrink: 0;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.8;
        color: #7f2736;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin: 0rem 0rem 0.188rem 1.748rem;

        .why-choose-us-V6q-sub-0 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.8;
          color: #7f2736;
          font-family: Poppins, 'Source Sans Pro';
        }
        .why-choose-us-V6q-sub-1 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.8;
          color: #2c2d32;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-AcH {
        line-height: 1.7999998728;
        color: #2c2d32;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 81.5rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .auto-group-dii3-ofF {
      display: flex;
      column-gap: 5.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.081rem 18.4rem 0rem;
      height: 45.8rem;

      .auto-group-osnt-inD {
        flex-shrink: 0;
        width: 43rem;
        height: 100%;
        position: relative;

        .rectangle-14-Tzh {
          border-radius: 2rem;
          width: 43rem;
          height: 40.5rem;
          position: absolute;
          left: 0;
          top: 5.3rem;
          box-shadow: 0 1rem 6rem rgba(38, 44, 117, 0.0799999982);
          background-color: #ffffff;
        }
        .handpicked-hotels-yTF {
          height: 4.5rem;
          position: absolute;
          left: 7.3rem;
          text-align: center;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 28.5rem;
          font-size: 3rem;
          font-weight: 500;
          line-height: 1.5;
          top: 16.8rem;
        }
        .lorem-ipsum-dolor-sit-amet-consect-adipiscing-elit-aenean-commodo-ligula-eget-dolor-aenean-massa-fay {
          font-size: 2rem;
          font-weight: 400;
          width: 31.7rem;
          height: 14.4rem;
          position: absolute;
          left: 5.7rem;
          font-family: Poppins, 'Source Sans Pro';
          top: 27.5rem;
          text-align: center;
          line-height: 1.8;
          color: #000000;
        }
        .ellipse-5-vmo {
          left: 16.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 9.6rem;
          height: 9.4rem;
          position: absolute;
        }
        .vector-GKs {
          height: 3.9rem;
          position: absolute;
          left: 19.5rem;
          top: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.1rem;
        }
      }
      .auto-group-8yqv-CjK {
        position: relative;
        flex-shrink: 0;
        width: 43rem;
        height: 100%;

        .rectangle-15-MMK {
          width: 43rem;
          height: 40.5rem;
          position: absolute;
          left: 0;
          top: 5.3rem;
          box-shadow: 0 1rem 6rem rgba(38, 44, 117, 0.0799999982);
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .world-class-service-fN1 {
          font-size: 3rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          height: 4.5rem;
          left: 6.55rem;
          top: 16.8rem;
          font-weight: 500;
          white-space: nowrap;
          width: 29.8rem;
          position: absolute;
          text-align: center;
        }
        .lorem-ipsum-dolor-sit-amet-consect-adipiscing-elit-aenean-commodo-ligula-eget-dolor-aenean-massa-WdX {
          text-align: center;
          font-size: 2rem;
          width: 36rem;
          position: absolute;
          top: 27.5rem;
          font-weight: 400;
          line-height: 1.8;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          height: 14.4rem;
          left: 3.55rem;
        }
        .ellipse-6-8Q1 {
          position: absolute;
          left: 16.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 9.6rem;
          height: 9.4rem;
        }
        .whh-world-q3X {
          left: 19.3rem;
          top: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.3rem;
          height: 4.2rem;
          position: absolute;
        }
      }
      .auto-group-p3nf-MGm {
        position: relative;
        flex-shrink: 0;
        width: 43rem;
        height: 100%;

        .rectangle-16-6VF {
          width: 43rem;
          height: 40.5rem;
          position: absolute;
          left: 0;
          top: 5.3rem;
          box-shadow: 0 1rem 6rem rgba(38, 44, 117, 0.0799999982);
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .best-price-guarantee-1MK {
          white-space: nowrap;
          height: 4.5rem;
          left: 7.55rem;
          top: 16.8rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 31.7rem;
          position: absolute;
          font-size: 3rem;
          color: #000000;
        }
        .lorem-ipsum-dolor-sit-amet-consect-adipiscing-elit-aenean-commodo-ligula-eget-dolor-aenean-massa-iFj {
          height: 14.4rem;
          text-align: center;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          width: 30.5rem;
          left: 6.2rem;
          top: 27.5rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8;
          position: absolute;
        }
        .ellipse-7-baR {
          width: 9.6rem;
          height: 9.4rem;
          position: absolute;
          left: 16.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-Lnu {
          object-fit: contain;
          vertical-align: top;
          width: 4.3rem;
          height: 3.8rem;
          position: absolute;
          left: 19.3rem;
          top: 2.7rem;
        }
      }
    }
    .group-5409-GwT {
      margin: 0rem 3.882rem 19.528rem 1.76rem;
      width: calc(100% - 5.6422rem);
      height: 48.4792rem;
      position: relative;
      flex-shrink: 0;

      .group-78-Q25 {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 11.55rem 24.391rem 9.003rem 27.358rem;
        width: 135.0493rem;
        height: 48.4792rem;
        position: absolute;
        border-radius: 2.6602rem 17.1586rem 2.6602rem 2.6602rem;
        box-sizing: border-box;
        left: 0;
        top: 0;
        background-color: rgba(223, 215, 249, 0.200000003);

        .subscribe-to-get-information-latest-news-and-other-interesting-offers-at-bon-voyage-JdF {
          max-width: 83.3rem;
          justify-content: center;
          flex-shrink: 0;
          margin-bottom: 5.6771rem;
          align-items: center;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 2.2445800304;
          color: #5e6282;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
        }
        .auto-group-f8bh-n2d {
          margin: 0rem 9.429rem 0rem 1.73rem;
          width: calc(100% - 11.1583rem);
          height: 7.849rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-76-u7F {
            align-items: center;
            background-color: #ffffff;
            border-radius: 1.3301rem;
            flex-shrink: 0;
            margin-right: 2.7702rem;
            box-sizing: border-box;
            padding: 2.873rem 31.024rem 2.563rem 3.578rem;
            height: 100%;
            display: flex;

            .group-46-pV7 {
              width: 2.4rem;
              height: 2.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.013rem 1.592rem 0rem 0rem;
            }
            .your-email-wpd {
              margin-bottom: 0.1126rem;
              font-size: 1.8622rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #39425d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-57-FqK {
            justify-content: center;
            width: 20.7768rem;
            line-height: 1.5;
            white-space: nowrap;
            border-radius: 1.3301rem;
            flex-shrink: 0;
            height: 100%;
            font-size: 2.4rem;
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            align-items: center;
            background: linear-gradient(180deg, #ff946d -0%, #ff7d68 100%);
            font-weight: 400;
            color: #ffffff;
          }
        }
      }
      .group-77-rKK {
        width: 8.0799rem;
        height: 8.0799rem;
        left: 129.278rem;
        border-radius: 4.0399rem;
        box-sizing: border-box;
        padding: 1.27rem 1.142rem 1.805rem 1.731rem;
        position: absolute;
        top: 0;
        background: linear-gradient(21.65deg, #747def 89.73%, #5e3be1 200%);

        .send-2-1-ZUd {
          width: 5.207rem;
          height: 5.0055rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .footer-eFB {
      margin-right: 2.9757rem;
      height: 33.9239rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .book-your-trip-in-minute-get-full-control-for-much-longer-BW1 {
        margin: 8.513rem 9.974rem 0rem 0rem;
        max-width: 28.6rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2449999915;
        color: #5e6282;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-xcjz-GGZ {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10.0018rem;
        width: 62.9844rem;

        .nav-columns-QNm {
          margin-bottom: 11.0994rem;
          width: 100%;
          height: 20.4246rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-mxg3-9bF {
            box-sizing: border-box;
            padding-right: 10.4092rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .nav-row-tHw {
              margin-right: 7.5422rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .company-Rof {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 3.981rem 0rem;
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 1.2450000048;
                color: #080808;
                font-family: Poppins, 'Source Sans Pro';
              }
              .about-k5F {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.5225rem;
              }
              .careers-H5B {
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.6554rem;
                font-size: 2.4rem;
                font-weight: 500;
              }
              .mobile-cdF {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2450000445;
                color: #5e6282;
              }
            }
            .nav-row-A8y {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .contact-v89 {
                flex-shrink: 0;
                margin: 0rem 0rem 3.715rem 0.133rem;
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 1.2450000048;
                color: #080808;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .help-faq-e49 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7884rem;
              }
              .press-ys7 {
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.6554rem;
                font-size: 2.4rem;
                font-weight: 500;
              }
              .affilates-j5b {
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2450000445;
                color: #5e6282;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .nav-row-GbK {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .more-psj {
              color: #080808;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.9807rem;
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 1.2450000048;
            }
            .airlinefees-TQu {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1.788rem 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
            }
            .airline-yu3 {
              flex-shrink: 0;
              margin: 0rem 0rem 1.655rem 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .low-fare-tips-We5 {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2450000445;
              color: #5e6282;
            }
          }
        }
        .copyrights-Snd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 6.459rem;
          font-size: 1.8622rem;
          font-weight: 500;
          line-height: 1.2450000174;
          color: #5e6282;
        }
      }
      .outbound-a89 {
        flex-shrink: 0;
        margin-top: 1.1931rem;
        width: 28.4646rem;

        .social-XJH {
          align-items: center;
          margin: 0rem 0rem 3.458rem 0.266rem;
          height: 5.9855rem;
          display: flex;

          .social-FEH {
            margin: 0rem 3.325rem 0.532rem 0rem;
            box-sizing: border-box;
            padding: 2.128rem 2.337rem 1.637rem 2.337rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:0:287');
            flex-shrink: 0;

            .facebook-icon-mTX {
              object-fit: contain;
              vertical-align: top;
              width: 0.7791rem;
              height: 1.688rem;
            }
          }
          .social-tY9 {
            box-sizing: border-box;
            height: 100%;
            background-image: url('REPLACE_IMAGE:0:290');
            margin-right: 3.3253rem;
            padding: 1.862rem 1.862rem 1.995rem 1.995rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;

            .instagram-1-cyw {
              width: 2.1282rem;
              height: 2.1282rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .social-x2D {
            padding: 1.862rem 1.344rem 1.862rem 1.976rem;
            flex-shrink: 0;
            margin: 0.266rem 0rem 0.266rem 0rem;
            height: calc(100% - 0.532rem);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:0:284');
            box-sizing: border-box;

            .vector-FX7 {
              width: 2.1333rem;
              height: 1.7292rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .discover-nG9 {
          width: 100%;
          display: flex;
          flex-direction: column;

          .discover-our-app-kCy {
            font-weight: 500;
            letter-spacing: 0.0133rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.054rem 0.266rem;
            font-size: 2.6602rem;
            line-height: 1.2449999946;
            color: #5e6282;
          }
          .auto-group-oua7-3xm {
            width: 100%;
            height: 4.6554rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .google-play-oBF {
              margin-right: 0.931rem;
              box-sizing: border-box;
              display: flex;
              background-color: #080808;
              padding: 0.931rem 1.479rem 1.064rem 2.357rem;
              height: 100%;
              align-items: center;
              border-radius: 2.3277rem;
              flex-shrink: 0;

              .google-play-1-ip1 {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.7926rem;
                width: 2.4689rem;
                height: 2.6603rem;
              }
              .vector-fDT {
                margin-bottom: 0.0831rem;
                width: 7.1349rem;
                height: 1.9686rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .play-store-BSh {
              border-radius: 2.3277rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.064rem 1.264rem 1.197rem 2.32rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #080808;

              .apple-2-1-uNh {
                flex-shrink: 0;
                margin: 0rem 0.723rem 0.266rem 0rem;
                width: 1.7456rem;
                height: 2.128rem;
                object-fit: contain;
                vertical-align: top;
              }
              .vector-Rrq {
                flex-shrink: 0;
                margin-top: 0.0827rem;
                width: 7.2484rem;
                height: 2.3118rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
}
